<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SendTaskTo1C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Data Source=KAZ-WEB2TEST\SUN;Initial Catalog=Scanner;Integrated Security=true;MultipleActiveResultSets=True;Application Name=Info;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    <!--<add name="MainConnectionString" connectionString="Data Source=10.20.100.82;Initial Catalog=Scanner;Integrated Security=true;MultipleActiveResultSets=True;Application Name=Info;Asynchronous Processing=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SendTaskTo1C.Properties.Settings>
      <setting name="SendTaskTo1C_WebReference_WebСервис_Приемка_АРЕНА"
        serializeAs="String">
        <value>http://10.20.100.26/1cws/Accepting.1cws</value>
      </setting>
    </SendTaskTo1C.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="MailServerPort" value="25" />
    <add key="MailServerHost" value="mail2016.sulpak.kz" />
    <add key="MailServerUser" value="fo-info@sulpak.kz" />
    <add key="MailServerPassword" value="flo2u5580x" />
    <add key="MailServerSenderAddress" value="fo-info@sulpak.kz" />
    <add key="MailServerToAddress" value="nurlan.zhaksymuratov@sulpak.kz,roman.valiyev@sulpak.kz" /> <!--, roman.valiyev@sulpak.kz-->

  </appSettings>
</configuration>