<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MainConnectionString" connectionString="Data Source=KAZ-WEB2TEST\SUN;Initial Catalog=Scanner;Integrated Security=true;MultipleActiveResultSets=True;Application Name=Info;Asynchronous Processing=true" providerName="System.Data.SqlClient" />-->
    <add name="MainConnectionString" connectionString="Data Source=10.20.100.82;Initial Catalog=Scanner;Integrated Security=true;MultipleActiveResultSets=True;Application Name=Info;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>